body{
    font-family: Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    background-image: url("image/indian.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
header nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 14vw;
    margin-top: 2vw;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: 2rem;
    letter-spacing: 1px;
}
#home_nav{
    background-color: orangered;
    padding: .5rem .3rem;
}
a:hover{
    background-color: orangered;
    padding: .5rem .3rem;
    transition: .9s;
}
section{
    /* padding: 5vw 9vw ; */
    margin: 8vw 0 0 5vw;
}
h1{
    font-size: 4.5vw;
}
p{
    font-size: 1.5vw;
}
button{
    background-color: orangered;
    border: 1px solid white;
    padding: 5px 30px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
img{
    width: 25vw;
    float: right;
    margin-right: 15%;
    position: relative;
    bottom: 18rem;
}

nav form{
    border: 1px solid white;
    padding: .3rem;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.699);
}
input{
    background: none;
    border: none;
    padding: .1rem;
}
input::placeholder{
    color: black;
}
@media screen and (max-width: 600px){
    img{
        width: 25vw;
        float: right;
        margin-right: 15%;
        position: relative;
        bottom: 6rem;
    }

    header nav{
        display: block;
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 4vw;
    }
    header form{
        width: 50%;
        text-align: center;
        margin-top: 1rem;
        margin-left: 24%;
    }
    nav form{
        border: 1px solid orangered;
        padding: .4rem 1rem;
        border-radius: 3px;
        background-color: rgba(8, 8, 8, 0.815);
    }
    p{
        font-size: 2vw;
    }
    section{
        /* padding: 5vw 9vw ; */
        margin: 8vw 0 0 4vw;
    }
    input::placeholder{
        color: white;
    }
    #icon{
        color: white;
    }
    header nav a{
        margin: 3vw;
        margin-top: 2vw;
    }
}